*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  padding: 0 20%;
}

.App-header{
  background-color: #282c34;
  color: white;
  padding: 25px;
  margin: 5px;
}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
.gallery img{
  width: calc(50% - 10px);
}